@{
    ViewData["Title"] = "Yönetim";
}
<h2>Yönetim Paneli</h2>
<div class="list-group">
    <a class="list-group-item list-group-item-action" asp-controller="Clubs" asp-action="Index">Kulüp Yönetimi</a>
    <a class="list-group-item list-group-item-action" asp-controller="Events" asp-action="Index">Etkinlik Yönetimi</a>
    <a class="list-group-item list-group-item-action" asp-controller="Registrations" asp-action="Index">Etkinlik Kayýtlarý</a>
</div>
